USE [master]
GO
/****** Object:  Database [bancoStringHandler]    Script Date: 17/10/2022 14:13:53 ******/
CREATE DATABASE [bancoStringHandler]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bancoStringHandler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\bancoStringHandler.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bancoStringHandler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\bancoStringHandler_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bancoStringHandler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bancoStringHandler]
GO
/****** Object:  Table [dbo].[history]    Script Date: 17/10/2022 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inputText] [varchar](300) NULL,
	[functionUsed] [varchar](50) NULL,
	[outputText] [varchar](300) NULL,
	[dateAndTime] [nvarchar](20) NULL,
 CONSTRAINT [PK_history] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
